<!DOCTYPE html>
<html>
<head>
	<title>Rotten Tomatoes Search</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="main.css">
</head>
<body>

	<div class="container">
		<h1>Rotten Tomatoes Search</h1>
		
		<form class="js-movie-search-form">
			<input type="text" class="js-search-term" placeholder="Enter a movie here">
			<input type="submit" value="Search">
		</form>
		
		<div id="js-movie-results" class="movie-results"></div>
	</div>
	
	<div id="fb-page"></div>

<script type="text/handlebars" id="movie-template">
	<div class="movie">
		<h3>
			<img src="{{posters.original}}">
			{{title}}
		</h3>

		<div class="rating">
			<h4>Audience Rating</h4>
			{{ratings.audience_rating}}, {{ratings.audience_score}} / 100
		</div>

		<div class="cast">
			<h4>Cast</h4>
			<ul>
				{{#each abridged_cast}}
					<li>{{name}}</li>
				{{/each}}
			</ul>
		</div>

		{{#if synopsis}}
			<p>{{synopsis}}</p>
		{{else}}
			<p>Synopsis unavailable.</p>
		{{/if}}
	</div>
</script>

<script src="jquery-2.1.1.js"></script>
<script src="handlebars-v2.0.0.js"></script>
<script src="main.js"></script>

</body>
</html>